<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>

		<add key ="Listar_EntradaArticulo" value="dbo.sp_Listar_EntradaArticulo" />
		<add key ="Filtrar_EntradaArticulo" value="dbo.sp_Filtrar_EntradaArticulo" />
		<add key ="Insertar_EntradaArticulo" value="dbo.sp_Insertar_EntradaArticulo" />
		<add key ="Modificar_EntradaArticulo" value="dbo.sp_Modificar_EntradaArticulo" />
		<add key ="Eliminar_EntradaArticulo" value="dbo.sp_Eliminar_EntradaArticulo" />

		<add key ="Listar_EntradaExpediente" value="dbo.sp_Listar_EntradaExpediente" />
		<add key ="Filtrar_EntradaExpediente" value="dbo.sp_Filtrar_EntradaExpediente" />
		<add key ="Insertar_EntradaExpediente" value="dbo.sp_Insertar_EntradaExpediente" />
		<add key ="Modificar_EntradaExpediente" value="dbo.sp_Modificar_EntradaExpediente" />
		<add key ="Eliminar_EntradaExpediente" value="dbo.sp_Eliminar_EntradaExpediente" />

		<add key ="Listar_IngresoServicios" value="dbo.sp_Listar_IngresoServicios" />
		<add key ="Filtrar_IngresoServicios" value="dbo.sp_Filtrar_IngresoServicios" />
		<add key ="Insertar_IngresoServicios" value="dbo.sp_Insertar_IngresoServicios" />
		<add key ="Modificar_IngresoServicios" value="dbo.sp_Modificar_IngresoServicios" />
		<add key ="Eliminar_IngresoServicios" value="dbo.sp_Eliminar_IngresoServicios" />

		<add key ="Listar_MaestroArticulos" value="dbo.sp_Listar_MaestroArticulos" />
		<add key ="Filtrar_MaestroArticulos" value="dbo.sp_Filtrar_MaestroArticulos" />
		<add key ="Insertar_MaestroArticulos" value="dbo.sp_Insertar_MaestroArticulos" />
		<add key ="Modificar_MaestroArticulos" value="dbo.sp_Modificar_MaestroArticulos" />
		<add key ="Eliminar_MaestroArticulos" value="dbo.sp_Eliminar_MaestroArticulos" />

		<add key ="Listar_RegistroSocios" value="dbo.sp_Listar_RegistroSocios" />
		<add key ="Filtrar_RegistroSocios" value="dbo.sp_Filtrar_RegistroSocios" />
		<add key ="Insertar_RegistroSocios" value="dbo.sp_Insertar_RegistroSocios" />
		<add key ="Modificar_RegistroSocios" value="dbo.sp_Modificar_RegistroSocios" />
		<add key ="Eliminar_RegistroSocios" value="dbo.sp_Eliminar_RegistroSocios" />

		<add key ="Listar_RegistroUsuarios" value="dbo.sp_Listar_RegistroUsuarios" />
		<add key ="Filtrar_RegistroUsuarios" value="dbo.sp_Filtrar_RegistroUsuarios" />
		<add key ="Insertar_RegistroUsuarios" value="dbo.sp_Insertar_RegistroUsuarios" />
		<add key ="Modificar_RegistroUsuarios" value="dbo.sp_Modificar_RegistroUsuarios" />
		<add key ="Eliminar_RegistroUsuarios" value="dbo.sp_Eliminar_RegistroUsuarios" />

		<add key ="Listar_VentaProductos" value="dbo.sp_Listar_VentaProductos" />
		<add key ="Filtrar_VentaProductos" value="dbo.sp_Filtrar_VentaProductos" />
		<add key ="Insertar_VentaProductos" value="dbo.sp_Insertar_VentaProductos" />
		<add key ="Modificar_VentaProductos" value="dbo.sp_Modificar_VentaProductos" />
		<add key ="Eliminar_VentaProductos" value="dbo.sp_Eliminar_VentaProductos" />
		
	</appSettings>

	<connectionStrings>

		<add name ="win_auth" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-PSE1N5O;
																					 Initial Catalog=ComprasyVentas; 
																					 Integrated Security=True;"/>

		<add name ="sql_auth" providerName="System.Data.SqlClient" connectionString="Data Source=DESKTOP-PSE1N5O;
																					 Initial Catalog=ComprasyVentas; 
																					 Persist Security Info = True;
																					 User ID =sa;
																					 Password=Cou1987"/>

	</connectionStrings>



</configuration>